<nav class="py-2 bg-light border-bottom " style="background: #9e9fa3 !important;">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <ul class="nav">
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Giới Thiệu</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2" role="textbox"> | </a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Lịch Sử Giao Dịch</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2" role="textbox"> | </a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Kiểm Tra Đơn Hàng</a></li>
        </ul>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-end">
          <a href="#" class="nav-link link-dark me-auto btn btn-outline-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                 class="bi bi-cart4 text-danger" viewBox="0 0 16 16">
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg>
            <i class="bi-cart-fill me-1"></i>
            Giỏ Hàng
            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
          </a>
          <button type="button" class="btn btn-outline-light btn-info nav-link link-dark px-2"
                  style="border-radius: 50% " data-bs-toggle="modal" data-bs-target="#myModal">Đăng Nhập
          </button>
          <a href="#" class="nav-link link-dark px-2"> | </a>
          <button type="button" class="btn btn-outline-light btn-info nav-link link-dark px-2"
                  style="border-radius: 50% ">Đăng Ký
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="py-3 border-bottom" style="background: #cdc8c8">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
          <svg class="bi me-2 " width="40" height="32"></svg>
          <img
            src="https://img.freepik.com/free-vector/flat-design-bookstore-logo-template_23-2149325254.jpg?w=2000"
            jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb"
            alt="Book Store Logo Images | Free Vectors, Stock Photos &amp; PSD" data-noaft="1"
            style="width: 194px; height: 194px; margin: 0px;">
        </a>
      </div>
      <div class="col-6 pt-5" style="margin-top: 30px">
        <span class="display-5">Bởi vì sách là thế giới</span>
      </div>
      <div class="col-4 pt-5" style="margin-top: 40px;">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Tìm Kiếm Sách..." aria-label="Search">
          <button type="submit" class="input-group-text btn btn-outline-info btn-light"
                  style="border-radius: 50%;width: 80px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-search text-secondary" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" style="background: #6284b3 !important;">
  <div class="container justify-content-center">
    <div class="collapse navbar-collapse " id="mynavbar">
      <div class="dropdown navbar-brand">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
          Danh Mục Sách
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Chính trị – pháp luật</a></li>
          <li><a class="dropdown-item" href="#">Khoa học công nghệ – Kinh tế</a></li>
          <li><a class="dropdown-item" href="#">Văn học nghệ thuật</a></li>
        </ul>
      </div>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" role="button">Sách Bán Chạy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button">Chương Trình Khuyến Mãi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button">Giảm Giá Đặc Biệt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
