<!--carousel-->
<div class="container py-4">
  <div class="row">
    <div class="col-lg-8">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators ">
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active "
                  aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3"
                  aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="4"
                  aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="5"
                  aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active" data-bs-interval="10000">
            <!--            <img-->
            <!--              src="https://cdn11.bigcommerce.com/s-mmafe1g4n3/images/stencil/1280w/carousel/78/20_Off_Vintage_Classics_May.png?c=1"-->
            <!--              class="d-block w-100" alt="...">-->
            <img
              src="https://www.ybook.vn/uploads/ybookcontent/bannerEvent/ec42f7943c1cac94a1a07782f4e3c425.jpg"
              class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item" data-bs-interval="2000">

            <img
              src="https://www.ybook.vn/uploads/ybookcontent/bannerEvent/bc7cc3f519da9fba5aec0f63923523ae.jpg"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="0">
            <img
              src="https://www.ybook.vn/uploads/ybookcontent/bannerEvent/3e415a16f0254d96fae95f0fbe21f3dc.jpg"
              class="d-block w-100" alt="...">

          </div>
          <div class="carousel-item " data-bs-interval="3000">
            <img
              src="https://www.ybook.vn/uploads/ybookcontent/bannerEvent/02696fe3c26a066b676484260c9b5b99.jpg"
              class="d-block w-100" alt="...">

          </div>
          <div class="carousel-item " data-bs-interval="4000">
            <img
              src="https://cdn11.bigcommerce.com/s-mmafe1g4n3/images/stencil/1280w/carousel/83/fathers_day_banner__47924.png?c=1"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item " data-bs-interval="5000">
            <img
              src="https://cdn11.bigcommerce.com/s-mmafe1g4n3/images/stencil/1280w/carousel/88/Best_of_British_FILM_tv.png?c=1"
              class="d-block w-100" alt="...">
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-primary btn-outline-dark " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon bg-primary btn-outline-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-4">
      <img role="button" style="background-size: cover; background-repeat: no-repeat;"
           src="https://cf.shopee.vn/file/9f5c0ffeb144052c1906f46326bd963b_xhdpi;" alt="" width="100%">
      <img class="mt-lg-2" role="button" style="background-size: cover; background-repeat: no-repeat;"
           src="https://cf.shopee.vn/file/66b066bbd90f5300e1dbb7aa05159c31_xhdpi" alt="" width="100%">
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="row table-responsive-lg">
    <div class="col-lg-12 d-flex justify-content-center">
      <img role="button" class="banner-image" src="https://cf.shopee.vn/file/0ed0d80b26a4a8dc8f8652679f37604d">
    </div>
  </div>
</div>
<!--tieu de-->
<div class="container font-family mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="d-flex justify-content-center text-success">Sách Mới Nhất</h1>
      <hr>
    </div>
  </div>
</div>
<!--card-->
<div class="container font-family">
  <div class="row">
    <div class="col-lg-3 mt-5" *ngFor="let b of bookList">
      <div class="card">
        <div class="card-img-container d-flex justify-content-center card-thumbnail" role="button" routerLink="/detail">
          <img
            src="{{b.img}}"
            alt="{{b.name}}"
            title="{{b.name}}"
            data-sizes="auto"
            srcset="{{b.img}} 80w, {{b.img}} 320w,{{b.img}} 640w"
            data-srcset="{{b.img}} 80w, {{b.img}} 640w"
            class="img-fluid" sizes="450px">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title over-me" role="button" routerLink="/detail"
              style="font-size: 90%;!important;"> {{b.name}}</h5>
          <p class="card-text " style="font-size: 80%;!important;">{{b.promotion}}</p>

          <p class="card-text text-center" data-test-info-type="productRating">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-star text-warning  m-1" viewBox="0 0 16 16" role="button">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-star text-warning  m-1" viewBox="0 0 16 16" role="button">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-star text-warning  m-1" viewBox="0 0 16 16" role="button">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-star text-warning  m-1" viewBox="0 0 16 16" role="button">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-star text-warning  m-1" viewBox="0 0 16 16" role="button">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
          </p>
          <p class="text-center"> Giá : <span class="text-secondary ">{{b.price}}</span></p>
          <div class="card-text text-center">
            <button role="button" class=" btn btn-sm btn-danger float-right " routerLink="/card">
              Thêm vào giỏ hàng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--phaan trang-->
<div class="container font-family mt-3">
  <div class="row ">
    <div class=" col-lg-3 mt-4 " >
      Hiển thị <span class="font-monospace">1</span> / <span
      class="font-monospace">40</span> trang
    </div>
    <div class="col-lg-9 mt-4 ">
      <div class="pagination">
        <button><span class="fa fa-angle-double-left"></span>
        </button>
        <button><span class="fa fa-angle-left"></span></button>
        <button>
          1
        </button>
        <button>
          2
        </button>
        <button class="active">
          3
        </button>
        <button>4</button>
        <button>5</button>
        <button>...</button>
        <button><span
          class="fa fa-angle-right"></span>
        </button>
        <button><span
          class="fa fa-angle-double-right"></span></button>
      </div>

    </div>
  </div>
</div>
<p class="border-bottom mt-5"></p>

