
<!--Phần chính-->
<div class="container font-family">
  <div class="row">
    <div class="col-4 py-5">
      <img class="mx-5" src="http://static.nhanam.com.vn/thumb/0x320/crop/Books/Images/2022/5/31/1SX41S7J.jpg"
           alt="Trường An ly ca 3 – Cao sơn lưu thuỷ">
    </div>
    <div class="col-8 py-5">
      <h5><span>Trường An ly ca 3 – Cao sơn lưu thuỷ</span></h5>
      <p class="border-bottom pt-3"></p>
      <div class="row">
        <div class="col-6">
          <ul>
            <li><span>Mã Sản Phẩm : </span> <a role="button" class="text-secondary btn-outline-warning">
              8935235233805</a></li>
          </ul>
          <ul>
            <li><span>Tác Giả : </span> <a role="button" class="text-secondary btn-outline-warning"> Ức
              Phúc</a></li>
          </ul>
          <ul>
            <li><span>Dịch Giả : </span> <a role="button" class="text-secondary btn-outline-warning"> Nhượng
              Lê</a></li>
          </ul>
          <ul>
            <li><span>Nhà Xuất Bản : </span> <a role="button" class="text-secondary btn-outline-warning">Hà
              Nội</a></li>
          </ul>
          <ul>
            <li><span>Số Trang : </span> <span class="text-secondary">486</span></li>
          </ul>
          <ul>
            <li><span>Kích Thước : </span> <span class="text-secondary">14x20.5 cm</span></li>
          </ul>
          <ul>
            <li><span>Ngày Phát Hành : </span> <span class="text-secondary">08-06-2013</span></li>
          </ul>
        </div>
        <div class="col-6">
          <p class="btn-secondary">
            <span class="m-4">Giá bìa:</span> <span class="oldprice">170.000đ</span>
          </p>

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm"
                style="background-color: #66898d !important;color: #e9ecef!important;">
              <h6 class="my-0 mt-2">Giá Mới : </h6>
              <small class="text-white" style="font-size: 30px !important;">136.000đ </small>
              <span class="mt-2">(đã có VAT)</span>
            </li>
          </ul>
          <div class="d-flex">
            <label for="cc-expiration" style="font-size: 30px">Số lượng :</label>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="32" fill="currentColor"
                 class="bi bi-dash text-white  btn-danger m-2" viewBox="0 0 16 16">
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
            <input type="text" value="1" class="form-control h-25 m-2 text-center"
                   style="width: 20% !important;" id="cc-expiration" placeholder="" required="">

            <svg role="button" xmlns="http://www.w3.org/2000/svg" width="30" height="32" fill="currentColor"
                 class="bi bi-plus text-white  btn-danger m-2" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </div>
          <div class="row">
            <div class="col-12 btn btn-danger mt-1">
              <span class="text-white">Thêm vào giỏ hàng</span>
            </div>
            <div class="col-12 btn btn-danger mt-3">
              <span class="text-white">Mua Ngay</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Mô tả-->
<div class="container font-family">
  <div class="row">
    <h1 class="text-center text-success">Giới Thiệu Sách</h1>
    <p>Niên thiếu quen nhau, ngưỡng mộ tài chí, thấm nhiễm phẩm cách. [...] Ý hợp tâm đầu, cả đời không phụ. Nay dựa
      lan can đứng, hứng gió nhìn xa, cỏ cây trong sân cùng trồng đã sum suê cao vút. Năm tháng trước kia, như
      bóng câu qua cửa sổ, trôi đi trong cái búng tay. Chỉ trong khoảnh khắc, thế sự đều sai.</p>

    <p>  Qua ngòi bút linh hoạt mà thâm thúy của Ức Phúc, cả một thời đại gió mây biến ảo với toàn bộ những nhân vật
      lịch sử nổi tiếng được tái hiện sống động và chân thật, mỗi nhân vật đều là một con người khó quên với đủ
      yêu ghét giận hờn, đủ tốt đẹp lẫn cơ mưu thủ đoạn. Thịnh Đường cách cả nghìn năm đã mở ra trước mắt chúng
      ta, đúng như tác giả từng nói "cách xa nghìn trùng cũng gặp nhau qua trang sách".</p>
    <div class=" col-4"></div>
    <div class=" col-4"></div>
    <div class=" col-4"></div>
  </div>
</div>
<!--phần dưới-->
<div class="container font-family">
  <div class="row">
    <h5 style="font-size: 250% !important;" class="text-success">Sách Cùng Tác Giả</h5>
    <p class="border-bottom pt-1"></p>
    <div class="col-2">
      <img src="http://static.nhanam.com.vn/thumb/146x226/crop/Books/Images/2022/5/31/1SX41S7J.jpg"
           alt="Trường An ly ca 3 – Cao sơn lưu thuỷ">
    </div>
    <div class="col-2">
      <img src="http://static.nhanam.com.vn/thumb/146x226/crop/Books/Images/2022/3/21/LSJJ997J.jpg"
           alt="Trường An ly ca 2 - Vén mây thấy trời">
    </div>
    <div class="col-2">
      <img src="http://static.nhanam.com.vn/thumb/146x226/crop/Books/Images/2022/3/2/1LR3NSN3.jpg"
           alt="Trường An ly ca 1 – Máu đỏ hoa đào">
    </div>

    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>
</div>


<!--comment-->

<div class="container mt-5 font-family">
  <div class="row">
    <h5 style="font-size: 250% !important;" class="text-success">Bình Luận</h5>
    <p class="border-bottom pt-1"></p>
    <div class="col-12">
      <span style="color: black">0 Comments</span>
    </div>
    <div class="col-12 mt-3 d-flex ">
      <img src="http://static.nhanam.com.vn/thumb/146x226/crop/Books/Images/2022/3/2/1LR3NSN3.jpg"
           alt="Trường An ly ca 1 – Máu đỏ hoa đào" width="50" height="75" class="mx-3 mt-3">
      <div class="input-group mt-4">
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end mt-3">
      <button class="btn btn-primary">Đăng Bài</button>
    </div>
  </div>
</div>
